<li class="card-thumb">
  <img class="card-thumb__img" 
  srcset="https://image.tmdb.org/t/p/w342{{poster_path}} 342w, https://image.tmdb.org/t/p/w500{{poster_path}} 500w, https://image.tmdb.org/t/p/w780{{poster_path}} 780w"
  src="https://image.tmdb.org/t/p/w780{{poster_path}}"
  alt="poster of {{title}}">
  </img>
  <span class="card-thumb__title">{{title}}</span>
  <span class="card-thumb__info">{{genresMin}} | {{release_date}} {{score}}</span>
</li>


{{!-- <li class="card-thumb">
  <img class="card-thumb__img" 
  srcset="https://image.tmdb.org/t/p/w342{{poster_path}} 342w, https://image.tmdb.org/t/p/w500{{poster_path}} 500w"
  src="https://image.tmdb.org/t/p/w780{{poster_path}}"
  alt="poster of {{title}}">
  </img>
  <span class="card-thumb__title">{{title}}</span>
  <span class="card-thumb__info">{{genresMin}} | {{release_date}} {{score}}</span>
</li> --}}